.restaurant-index-item{
    width: 300px;
    border-radius: 4px;
    padding: 10px 10px 10px 0px;
    margin-right: 20px;
    cursor: pointer;
}

.restaurant-index-item h3{
    margin-top: 13px;
}

.restaurant-index-image-container{
    height: 150px;
    width: 275px;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.restaurant-index-image-container img{
    max-height: 100%;
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    object-fit: cover;
}
