.restaurant-index-item{
    width: 300px;
    border-radius: 4px;
    padding: 10px 10px 10px 0px;
    margin-right: 20px;
    cursor: pointer;
}

.restaurant-index-item h3{
    margin-top: 13px;
}

.restaurant-index-image{
    height: 150px;
    width: auto;
    min-width: 200px;
    /* background-color: var(--primary-red); */
    object-fit: contain;
    border-radius: 4px;
}