.restaurant-show{
    color: var(--primary-black);
    margin: 0 5%;
    overflow: hidden;
}

.restaurant-show h1{
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
}
.restaurant-show .image-placeholder{
    background-color: var(--primary-red);
    width: 100%;
    height: 210px;
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    object-fit: cover;
}

.white-background{
    background-color: var(--primary-white);
}

.restaurant-logo{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 2px solid var(--primary-white);
    box-shadow: 0px 0px 3px 0px var(--primary-black);
    /* transform: translate(20%, 120%); */
    z-index: 8;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.store-info-container{
    margin: 15px;
    position: absolute;
}