.home-main{
    color: var(--primary-black);
    margin: 0 0 80px 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media screen and (max-width: 599px){
    .home-main{
        margin-left: 0;
        overflow-x: auto;
    }
}