.home-nav{
    color: var(--primary-red);
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid rgb(231 231 231);
    user-select: none;
}

.home-nav h1{
    font-size: 20px;
}

.hamburger-menu{
    fill: var(--primary-gray);
    color: var(--primary-gray)
}

.home-nav svg:hover{
    cursor: pointer;
}

.home-nav-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
}

.home-nav-left img{
    max-width: 35px;
    height: auto;
}

.home-nav-right{
    margin-right: 5%;
    display: flex;
    align-items: center;
}

.home-nav-right svg{
    color: var(--primary-gray)
}