.restaurant-index-container{
    margin: 20px auto;
    width: 90%;
    height: 100%;
}

@media screen and (max-width: 599px) {
    .restaurant-index-container{
        width: 100%;
        margin-left: 0;
        padding: 0 20px;
    }
}

.restaurant-index ul{
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

