.restaurant-index-container{
    margin: 20px auto;
    width: 80%;
    height: 100%;
}

@media screen and (max-width: 599px) {
    .restaurant-index-container{
        width: 100%;
        margin-left: 0;
    }
}

.restaurant-index{
    overflow: auto;
}

.restaurant-index ul{
    display: flex;
    align-items: center;
}

