.menu-item-show{
    max-width: 450px;
    min-width: 400px;
    min-height: 60vh;
    background-color: var(--primary-white);
    padding: 25px 25px 25px 25px;
    border-radius: 20px;
    margin-top: 20px;
    z-index: 15;
    position: relative;
}

.menu-item-show h2{
    font-size: 30px;
    margin: 20px 0;
}

.menu-item-show h3{
    margin: 10px 0;
}

.menu-item-show p{
    color: var(--primary-gray);
    font-size: 14px;
}

.menu-item-show-main-container{
    overflow-y: auto;
    max-height: 75vh;
}

.menu-item-show-image-placeholder{
    width: 450px;
    height: 250px;
    background-color: var(--primary-red);
    border-radius: 4px;
}

.menu-item-show-footer{
    width: 80%;
    /* transform: translate(-10%, 0); */
    height: 70px;
    border-top: 0.5px solid var(--secondary-gray);
    background-color: var(--primary-white);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu-item-show-footer button{
    width: auto;
    padding: 0 5%;
}
