.menu-item-show{
    max-width: 450px;
    min-width: 450px;
    max-height: 85vh;
    overflow-y: auto;
    background-color: var(--primary-white);
    padding: 25px;
    border-radius: 20px;
    margin-top: 20px;
}
